<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img src="https://www.pinkvilla.com/imageresize/ironmansocial_1.jpg?width=752&t=pvorg"
      alt=""
      srcset=""
      >
    </div>

    <div class="small-card__title">
      <h1>
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Fusce scelerisque sodales orci, eu blandit velit mollis sed.
        </a>
      </h1>
    </div>

  </div>
  <div class="container__small-card__separator">
    <hr/>
  </div>
</div>
